{% trans_default_domain "victoire" %}
{% use 'form_div_layout.html.twig' %}
{% use 'VictoireFormBundle:Form:localeTabs.html.twig' %}

{% block urlvalidated_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block urlvalidated_widget %}
    <div class="v-form-group__input-group">
        <div class="v-form-group__addon v-form-group__addon--url-slug">{{ base_url }}</div>
        {{ block('slug_widget') }}
    </div>
{% endblock urlvalidated_widget %}

{% block asynchronous_row %}
    <div class="vic-col-xs-12">
        {{ block('checkbox_widget') }}
    </div>
{% endblock asynchronous_row %}


{% block criteria_collection_row %}
    <a class="v-btn v-btn--warning / v-widget-form__quantum-btn" data-collapse="toggle" data-href="#collapse-{{ id }}">
        {% include 'VictoireUIBundle:SVG:quantum.html.twig' with { class: 'v-btn__ic v-btn__ic--before' } %}
        {{ 'victoire.widget.type.criterias.label'|trans({}, 'victoire') }}
        {% include 'VictoireUIBundle:SVG:caret.html.twig' with { class: 'v-btn__ic v-btn__ic--after' } %}
    </a>

    <div class="v-collapse v-collapse--plain v-collapse--criteria" id="collapse-{{ id }}" data-flag="v-collapse">
        <div class="v-container">
            {{ form_row(form.parent.quantum) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block criteria_row %}
    <div>
        <div class="v-grid">
            <div class="v-col v-col--sm-6">
                <div class="v-form-group v-form-group--md" data-flag="v-mdForm">
                    <label class="v-form-group__label">
                        {{ ('victoire_criteria.' ~ form.vars.data.name ~ '.criteria.label')|trans }}
                    </label>
                    {{ form_widget(form.operator) }}
                </div>
            </div>

            <div class="v-col v-col--sm-6">
                <div class="v-form-group v-form-group--md" data-flag="v-mdForm">
                    {{ form_widget(form.value) }}
                </div>
            </div>

            <div class="v-col">
                {{ form_row(form.name) }}
            </div>
        </div>
    </div>
{% endblock criteria_row %}

{% block api_select2_widget %}
    <select {{ block('widget_attributes') }}>
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>

    <script type="text/javascript">
        $vic("#{{ id }}").select2({
            ajax: {
                url: Routing.generate('victoire_api_fetch', {'businessEntity': {{ businessEntity.id }}, '_locale': locale}),
                dataType: 'json',
                delay: 250,
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.text,
                                id: item.id
                            }
                        })
                    };
                },
                data: function (params) {
                    return {
                        q: params.term
                    };
                }
            },
            minimumInputLength: 1,
            width: "100%"
        });
    </script>
{% endblock api_select2_widget %}

{# Buttons #}
{% block tags_widget %}
<input type="hidden" id="{{id}}" name="{{ full_name }}" value="{{tag_values}}" tabindex="-1" class="select2-offscreen" />
<script type="text/javascript">
    $vic("#{{ id }}").select2({
        tags:[{% for id, tag in tags %} { id: "{{id}}", text:"{{tag}}" }{% if not loop.last %},{% endif %}{% endfor %}],
        {% if enable_creation %}
        createSearchChoice:function(term, data) {
            return { id:term, text:term};
        },
        {% endif %}
    });
</script>
{% endblock tags_widget %}

{% block slug_widget %}
    {{ block('form_widget') }}
    <span id="{{ id }}-correct" class="v-form-group__addon v-color--green v-hidden">
        {% include 'VictoireUIBundle:SVG:check.html.twig' %}
    </span>

    <span id="{{ id }}-not-correct" class="v-form-group__addon v-color--pink v-hidden">
        {% include 'VictoireUIBundle:SVG:close.html.twig' %}
    </span>

    <script>
        <!--
        addSlugValidation($vic('#{{id}}'),{% if allow_empty %}true{% else %}false{% endif %});
        -->
    </script>
{% endblock %}

{% block button_attributes %}
    {% set attr = attr|merge({class: 'vic-btn ' ~ attr.class | default("")}) %}
    {{ parent() }}
{% endblock button_attributes %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
    {% if icon is defined and icon is not empty %}
            {{ victoire_icon(icon, icon_inverted|default(false)) }}
    {% endif %}
    {{ label|trans({}, translation_domain)|raw }}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block button_row %}
    {% spaceless %}
        {% if vic_button_offset is not empty %}
            {% set attr = attr|merge({'for': id, 'class': vic_button_offset }) %}
            <div class="v-form-group">
                <div {% for attrname, attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ form_widget(form) }}
                </div>
            </div>
        {% else %}
            <div>
                {{ form_widget(form) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock button_row %}

{# Widgets #}

{% block choice_widget_collapsed %}
    <div class="v-select">
        {% set attr = attr|merge({'class': 'v-select__native'}) %}
        {{ parent() }}
    </div>

    {{ block('form_message') }}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% set type = type|default('text') %}

    {% if type != 'hidden' and ( vic_widget_addon_prepend|default(null) is not null or vic_widget_addon_append|default(null) is not null ) %}
        <div class="vic-input-group">
            {% if vic_widget_addon_prepend|default(null) is not null %}
                {% set widget_addon = vic_widget_addon_prepend %}

                {{ block('widget_addon') }}
            {% endif %}
    {% endif %}

            {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ vic_widget_form_control_class}) %}

            {{ parent() }}

            {% if vic_horizontal %}
                {{ block('form_message') }}
            {% endif %}

    {% if type != 'hidden' and ( vic_widget_addon_prepend|default(null) is not null or vic_widget_addon_append|default(null) is not null ) %}
            {% if vic_widget_addon_append|default(null) is not null %}
                {% set widget_addon = vic_widget_addon_append %}

                {{ block('widget_addon') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock textarea_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type != 'hidden' and ( vic_widget_addon_prepend|default(null) is not null or vic_widget_addon_append|default(null) is not null ) %}
    <div class="vic-input-group">
        {% if vic_widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = vic_widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endif %}
    {% if not vic_widget_remove_btn|default(null) %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' vic-not-removable'}) %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ vic_widget_form_control_class}) %}
    {% if vic_static_text is same as(true) %}
        <p class="vic-form-control-static">{{ value }}</p>
    {% else %}
        {{ parent() }}
    {% endif %}
    {% if type != 'hidden' and ( vic_widget_addon_prepend|default(null) is not null or vic_widget_addon_append|default(null) is not null ) %}
        {% if vic_widget_addon_append|default(null) is not null %}
        {% set widget_addon = vic_widget_addon_append %}
        {{ block('widget_addon') }}
        {% endif %}
    </div>
    {% endif %}
    {% if type != 'hidden' and vic_horizontal %}
        {{ block('form_message') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% spaceless %}
    {% if form.parent == null %}
        {% if vic_render_fieldset %}<fieldset>{% endif %}
        {% if vic_show_legend %}{{ block('form_legend') }}{% endif %}
    {% endif %}

    {% if form.vars.vic_tabbed %}
        {{ form_tabs(form) }}
        <div class="vic-tab-content">
    {% endif %}

    {{ block('form_rows_visible') }}

    {% if form.vars.vic_tabbed %}
        </div>
    {% endif %}

    {{ form_rest(form) }}

    {% if form.parent == null %}
        {% if vic_render_fieldset %}</fieldset>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_tabs %}
{% if form.vars.tabsView is defined %}
{{ form_widget(form.vars.tabsView) }}
{% endif %}
{% endblock %}

{% block tabs_widget %}
{% spaceless %}
<ul class="{{ form.vars.attr.class }}">
    {% for tab in form.vars.tabs %}
        <li{% if tab.active %} class="vic-active"{% endif %}>
            <a data-toggle="vic-tab" href="#{{ tab.id }}">
                {% if tab.icon %}{{ victoire_icon(tab.icon) }}{% endif %}
                {{ tab.label|trans({}, tab.translation_domain) }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}

{% block form_tab %}
<div class="vic-tab-pane{{ form.vars.tab_active ? ' vic-active' : '' }}" id="{{ id }}">
    {{ block('form_widget') }}
</div>
{% endblock %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set prototype_markup = form_row(prototype) %}
        {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
        {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}
        {% set vic_vic_widget_form_group_attr = vic_vic_widget_form_group_attr|merge({
            'data-prototype': prototype_markup,
            'data-prototype-name': data_prototype_name,
            'data-prototype-label': data_prototype_label
        })|merge(attr) %}
    {% endif %}
    {# Add row by default use attr.class to change#}
    {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
        {% set vic_vic_widget_form_group_attr = vic_vic_widget_form_group_attr|merge({'class': vic_vic_widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
    {% endif %}
    {# collection item adds class {form_id}_form-group  too #}
    {% set vic_vic_widget_form_group_attr = vic_vic_widget_form_group_attr|merge({'id': 'collection' ~ id ~ '_form_group', 'class': vic_vic_widget_form_group_attr.class ~ ' vic-collection-items ' ~ id ~ '_form_group'}) %}

    <div {% for attrname,attrvalue in vic_vic_widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# Add initial prototype form #}
    {% if form.vars.value|length == 0 and prototype is defined %}
        {% for name in vic_prototype_names %}
            {{ prototype_markup|replace({'__name__': name})|raw }}
        {% endfor %}
    {% endif %}
    {{ block('form_widget') }}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (vic_widget_type != '' ? (multiple ? 'vic-checkbox' : 'vic-radio') ~ '-' ~ vic_widget_type : ''))}) %}
    {% if expanded %}
        {% set attr = attr|merge({'class': attr.class|default(vic_horizontal_input_wrapper_class)}) %}
    {% endif %}

    {% if vic_widget_type == 'inline' %}<div class="v-flex-grid">{% endif %}
        {% for child in form %}
            {% if vic_widget_type == 'inline' %}
                {% set label_attr = label_attr|merge({'class': label_attr.class ~ ' v-flex-col'}) %}
            {% else %}
                {% set label_attr = label_attr|merge({'class': label_attr.class ~ ' v-form-group v-form-group--small'}) %}
            {% endif %}

            <div{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ form_widget(child, {
                    'vic_horizontal_label_class': vic_horizontal_label_class,
                    'choiceLabel': child.vars.label|trans({}, translation_domain),
                    'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class,
                    'attr': {
                        'class': attr.widget_class|default('')
                    }
                }) }}
            </div>
        {% endfor %}
    {% if vic_widget_type == 'inline' %}</div>{% endif %}

    {{ block('form_message') }}
    {% if expanded %}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}
        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}<div>{% endif %}
            <label class="v-checkbox {% if not vic_horizontal %} vic-checkbox-inline{% endif %}">
                {% set attr = attr|merge({'class': attr.class|default('') ~ ' v-checkbox__native'}) %}
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
                <span class="v-checkbox__indicator"></span>

                {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
                    {% if vic_label_render and vic_widget_vic_checkbox_label in ['both', 'widget'] %}
                        {{ label|trans({}, translation_domain) }}
                    {% endif %}
                {% endif %}

                {% if choiceLabel|default(false) %}
                    {{ choiceLabel }}
                {% endif %}
            </label>
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}</div>{{ block('form_message') }}{% endif %}
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}<div>{% endif %}
            <label class="v-radio {% if not vic_horizontal %} vic-radio-inline{% endif %}">
                {% set attr = attr|merge({'class': attr.class|default('') ~ ' v-radio__native'}) %}
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
                <span class="v-radio__indicator"></span>

                {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
                    {% if vic_label_render and vic_widget_vic_checkbox_label in ['both', 'widget'] %}
                        {{ label|trans({}, translation_domain) }}
                    {% endif %}
                {% endif %}

                {% if choiceLabel|default(false) %}
                    {{ choiceLabel }}
                {% endif %}
            </label>
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}</div>{{ block('form_message') }}{% endif %}
    {% endspaceless %}
{% endblock radio_widget %}

{% block date_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
    {% if datepicker is defined %}
        <div data-provider="datepicker" class="vic-input-group vic-date" data-date="{{ value }}" data-link-field="{{ id }}" data-link-format="dd-mm-yyyy">
            <input {% if vic_widget_form_control_class is not same as(false) %}class="{{ vic_widget_form_control_class }}" {% endif %}type="text" {% if read_only is defined and read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
            <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }}>
            <span class="vic-input-group-addon">{{ victoire_icon('calendar') }}</span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% else %}
    {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
        <div class="vic-row">
        {{ date_pattern|replace({
            '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-3')}),
            '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-3')}),
            '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-3')}),
        })|raw }}
        </div>
    {{ block('form_message') }}
{% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
    {% if timepicker is defined %}
        <div data-provider="timepicker" class="vic-input-group vic-date" data-date="{{ value }}" data-link-field="{{ id }}" data-link-format="hh:ii">
            <input class="v-form-group__input" type="text" {% if read_only is defined and read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
            <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }}>
            <span class="vic-input-group-addon">{{ victoire_icon('time') }}</span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% else %}
    {% set attr = attr|merge({'class': attr.class|default('')}) %}
    {% spaceless %}
    {{ form_widget(form.hour, { 'attr': {  'size': '1'}, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-2')}) }}
    {{ form_widget(form.minute, { 'attr': { 'size': '1' }, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-2')}) }}
    {% if with_seconds %}
        :{{ form_widget(form.second, { 'attr': { 'size': '1' }, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-2') }) }}
    {% endif %}
    {% endspaceless %}
    {{ block('form_message') }}
{% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {% if vic_datetimepicker is defined %}
            <div data-provider="datetimepicker" class="v-form-group__input-group v-date" data-date="{% if value %}{{ value|date('d-m-Y H:i') }}{% endif %}" data-link-field="{{ id }}" data-link-format="dd-mm-yyyy hh:ii">
                <span class="v-form-group__addon">
                    {% include 'VictoireUIBundle:SVG:calendar.html.twig' %}
                </span>

                <input class="v-form-group__input" type="text" {% if read_only is defined and read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %} value="{% if value %}{{ value|date('d-m-Y H:i') }}{% endif %}">
                <input type="hidden" value="{% if value %}{{ value|date('d-m-Y H:i') }}{% endif %}" {{ block('widget_attributes') }}>
            </div>
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% else %}
            {% set attr = attr|merge({'class': attr.class|default('')}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date, {'attr': {'class': attr.widget_class|default('')}, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-3')}) }}
                {{ form_widget(form.time, {'attr': {'class': attr.widget_class|default('')}, 'vic_horizontal_input_wrapper_class': vic_horizontal_input_wrapper_class|default('vic-col-lg-2')}) }}
                {{ block('form_message') }}
            </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set vic_widget_addon_append = vic_widget_addon_append|merge({'text': vic_widget_addon_append.text|default('%')}) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock percent_widget %}

{% block money_widget %}
{% spaceless %}
    {% set vic_widget_addon_prepend = (vic_widget_addon_prepend != false or vic_widget_addon_prepend == null) and money_pattern != '{{ widget }}' ? {'text': money_pattern|replace({ '{{ widget }}': ''})} : vic_widget_addon_prepend|default(null) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock money_widget %}

{% block file_widget %}
{% spaceless %}
{% set type = type|default('file') %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ vic_widget_form_control_class}) %}
    {% if vic_widget_addon_prepend|default(null) is not null %}
        {% set widget_addon = vic_widget_addon_prepend %}
        {{ block('widget_addon') }}
    {% endif %}
<input type="{{ type }}" {{ block('widget_attributes') }}/>
{% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
    {% if vic_widget_addon_append|default(null) is not null %}
        {% set widget_addon = vic_widget_addon_append %}
        {{ block('widget_addon') }}
    {% endif %}
{% endif %}
    {% if vic_horizontal %}
        {{ block('form_message') }}
    {% endif %}
{% endspaceless %}
{% endblock file_widget %}

{# Labels #}

{% block form_legend %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <{{ vic_legend_tag }}>{{ label|trans({}, translation_domain) }}</{{ vic_legend_tag }}>
{% endspaceless %}
{% endblock form_legend %}

{% block form_label %}
{% if 'checkbox' not in block_prefixes or vic_widget_vic_checkbox_label in ['label', 'both'] %}
{% spaceless %}
    {% if label is not same as(false) %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr_class = '' %}
        {% if vic_horizontal %}
            {% set label_attr_class = 'v-form-group__label ' ~ label_attr_class ~ vic_horizontal_label_class %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ label_attr_class ~ (required ? ' vic-required' : '') }) %}
        <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ label|trans|raw }}
        {{- block('label_asterisk') }}
        {% if 'collection' in form.vars.block_prefixes and vic_widget_add_btn|default(null) and form.vars.allow_add == true %}
            {{ block('form_vic_widget_add_btn') }}
        {% endif %}
        {% if vic_help_label %}
            {{ block('vic_help_label') }}
        {% endif %}
        {% if vic_help_label_tooltip.title %}
            {{ block('vic_help_label_tooltip') }}
        {% endif %}
        {% if vic_help_label_popover.title %}
            {{ block('vic_help_label_popover') }}
        {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endif %}
{% endblock form_label %}

{% block vic_help_label %}
    <span class="v-form-group__help">{{ vic_help_label|trans({}, translation_domain) }}</span>
{% endblock vic_help_label %}

{% block vic_help_label_tooltip %}
    <span class="v-form-group__help">
        <a href="#" data-toggle="vic-tooltip" data-placement="{{ vic_help_label_tooltip.placement}}" data-title="{{ vic_help_label_tooltip.title|trans({}, translation_domain) }}">
            {% if vic_help_label_tooltip.icon is not same as(false) %}
                {{ victoire_icon(vic_help_label_tooltip.icon) }}
            {% endif %}
            {% if vic_help_label_tooltip.text is not same as(null) %}
            {{ vic_help_label_tooltip.text }}
            {% endif %}
        </a>
    </span>
{% endblock vic_help_label_tooltip %}

{% block vic_help_label_popover %}
    <span class="v-form-group__help">
        <a href="#" data-toggle="vic-popover" data-trigger="hover" data-placement="{{ vic_help_label_popover.placement}}" data-title="{{ vic_help_label_popover.title|trans({}, translation_domain) }}" data-content="{{ vic_help_label_popover.content|trans({}, translation_domain) }}" >
            {% if vic_help_label_popover.icon is not same as(false) %}
                {{ victoire_icon(vic_help_label_popover.icon) }}
            {% endif %}
            {% if vic_help_label_popover.text is not same as(null) %}
            {{ vic_help_label_popover.text }}
            {% endif %}
        </a>
    </span>
{% endblock vic_help_label_popover %}

{% block form_actions_widget %}
    {% for button in buttons %}
        {{ form_widget(button) }}&nbsp; {# this needs to be here due to https://github.com/twbs/bootstrap/issues/3245 #}
    {% endfor  %}
{% endblock %}

{# Rows #}
{% block form_actions_row %}
    {{ block('button_row')  }}
{% endblock %}

{% block form_rows_visible %}
{% spaceless %}
    {% if form_errors(form) %}
        <div class="vic-symfony-form-errors">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% for child in form %}
        {% if 'hidden' not in child.vars.block_prefixes %} {# smbdy: why do we not add the hiddens of childs? 131024 phiamo: i think form rest should do this !? it was afaik removed because it cause side effekts #}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows_visible %}

{% block form_row %}
{% spaceless %}
    {% if 'tab' in form.vars.block_prefixes %}
        {{ block('form_tab') }}
    {% else %}
        {{ block('vic_widget_form_group_start') }}

        {% set show_horizontal_wrapper = vic_horizontal and not (form.parent is not null and 'collection' in form.parent.vars.block_prefixes) %}

        {% if vic_horizontal and not vic_label_render %}
            {% set vic_horizontal_input_wrapper_class = vic_horizontal_input_wrapper_class ~ ' ' ~ vic_horizontal_label_offset_class %}
        {% endif %}

        {% if show_horizontal_wrapper %}
        <div class="{{ vic_horizontal_input_wrapper_class }}">
        {% endif %}
        {{ vic_widget_prefix|trans({}, translation_domain)|raw }} {{ form_widget(form, _context) }} {{ vic_widget_suffix|trans({}, translation_domain)|raw }}

        {% if show_horizontal_wrapper %}
        </div>
        {% endif %}

        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes and vic_widget_remove_btn|default(null) and form.parent.vars.allow_delete|default(false) %}
            {{ block('form_vic_widget_remove_btn') }}
        {% endif -%}
        {{ block('vic_widget_form_group_end') }}
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{# Support #}

{% block form_message %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ block('form_help') }}
{% endspaceless %}
{% endblock form_message %}

{# Help #}

{% block form_help %}
    {% spaceless %}
        {% if vic_help_block %}
            <p class="v-form-group__help">{{ vic_help_block|trans({}, translation_domain)|raw }}</p>
        {%endif %}
        {% if vic_business_property_picker %}
            {% include 'VictoireBusinessEntityBundle:BusinessProperty:list.html.twig' with {
                'description': vic_business_property_picker_description|trans({}, translation_domain)|raw,
                'businessProperties': vic_business_properties
            } %}
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}

{% block form_vic_widget_add_btn %}
{% spaceless %}
    {% if vic_widget_add_btn|default(null) %}
        {% set button_type = 'add' %}
        {% set button_values = vic_widget_add_btn %}
        {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock form_vic_widget_add_btn %}

{% block form_vic_widget_remove_btn %}
{% spaceless %}
    {% if vic_widget_remove_btn.wrapper_div is not same as(false) %}
        <div class="v-form-group">
            <div class="{{ vic_widget_remove_btn.wrapper_div.class }} vic-col-lg-offset-3">
    {% endif %}
    {% if vic_widget_remove_btn|default(null) %}
    {% set button_type = 'remove' %}
    {% set button_values = vic_widget_remove_btn %}
    {{ block('collection_button') }}
    {% endif %}
    {% if vic_widget_remove_btn.wrapper_div is not same as(false) %}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_vic_widget_remove_btn %}

{% block collection_button %}
<a {% for attrname,attrvalue in button_values.attr %} {{attrname}}="{{attrvalue}}"{% endfor %} data-collection-vic-{{ button_type }}-btn=".{{ form.vars['id'] }}_form_group">
{% if button_values.icon is not null %}
    {{ victoire_icon(button_values.icon, button_values.icon_inverted|default(false)) }}
{% endif %}
{{ button_values.label|trans({}, translation_domain) }}
</a>

{% endblock collection_button %}

{% block label_asterisk %}
{% if required %}
    {%- if vic_render_required_asterisk %} <span class="vic-asterisk">*</span>{% endif %}
{% endif %}
{% endblock label_asterisk %}

{% block widget_addon %}
{% spaceless %}
{% set widget_addon_icon = widget_addon.icon is defined ? widget_addon.icon : null  %}
{% set widget_addon_icon_inverted = widget_addon.icon_inverted is defined ? widget_addon.icon_inverted : false  %}
    <span class="vic-input-group-addon">{{ (widget_addon.text|default(false) ? widget_addon.text|trans({}, translation_domain)|raw : victoire_icon(widget_addon_icon, widget_addon_icon_inverted)) }}</span>
{% endspaceless %}
{% endblock widget_addon %}

{# Errors #}

{% block form_errors %}
{% spaceless %}
{% if vic_error_delay %}
    {% for child in form %}
        {% if loop.index == 1 %}
            {% if child.set('errors', errors) %}{% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    {% if errors|length > 0 %}
        {% if form.parent == null %}
            {% from 'VictoireFormBundle::flash.html.twig' import flash %}
            {% for error in errors %}
                {{
                    flash('danger', error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    )
                }}
            {% endfor %}
        {% else %}
            <span class="vic-help-{{ block('vic_error_type') }}">
            {% for error in errors %}
                {% set _errorMessage =
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                %}<span title="{{ _errorMessage|striptags }}">{{ _errorMessage|raw }}</span> <br>
            {% endfor %}
            </span>
        {% endif %}
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# used to determine which type of error #}

{% block vic_error_type %}
{% spaceless %}
{% if vic_error_type %}
    {{ vic_error_type }}
{% elseif form.parent == null %}
    {{ form.vars.vic_error_type | default('inline') }}
{% else %}
    block
{% endif %}
{% endspaceless %}
{% endblock vic_error_type %}

{# widget helper blocks #}

{% block vic_widget_form_group_start %}
{% if vic_widget_form_group|default(false) or form.parent == null %}
    {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes %} {# i am a collection child #}
        {% if not vic_omit_collection_item %}
            {# collection item wrapper doesnt need form-group it gets added to childs anyways #}
            {% set vic_vic_widget_form_group_attr = vic_vic_widget_form_group_attr|merge({class: 'vic-collection-item'}) %}
        {% endif %}
    {% endif %}
    {% if errors|length > 0 %}
        {# Add Error Class to Widget Wrapper#}
        {% set vic_vic_widget_form_group_attr = vic_vic_widget_form_group_attr|merge({'class': vic_vic_widget_form_group_attr.class|default('') ~ ' has-error'}) %}
    {% endif %}
    {% if vic_help_widget_popover.selector is same as(null) %}
        {% set vic_help_widget_popover = vic_help_widget_popover|merge({'selector': '#' ~ id }) %}
    {% endif %}
    <div{% if vic_help_widget_popover.title is not same as(null) %}{{ block('vic_help_widget_popover') }}{% endif %} {% for attrname,attrvalue in vic_vic_widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# a form item containing the field in block_prefixes is a near subform or a field directly #}
    {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes
        and 'date' not in form.vars.block_prefixes %}
        {% if vic_show_child_legend%}
            {{ block('form_legend') }}
        {% elseif vic_label_render %}
            {{ form_label(form, label|default(null)) }}
        {% else %}
        {% endif %}
    {% else %}
        {% if vic_label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if vic_label_render %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
{% endif %}
{% endblock vic_widget_form_group_start %}

{% block vic_help_widget_popover %}
 {% spaceless %}
 {% for attrname,attrvalue in vic_help_widget_popover %}
 data-{{attrname}}="{{attrvalue}}"
 {% endfor %}
 {% endspaceless %}
{% endblock vic_help_widget_popover %}

{% block vic_widget_form_group_end %}
{% spaceless %}
{% if vic_widget_form_group|default(false) or form.parent == null %}
    </div>
{% endif %}
{% endspaceless %}
{% endblock vic_widget_form_group_end %}

{% block hierarchy_tree_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ vic_widget_form_control_class}) %}
        {{ block('hierarchy_tree_widget_collapsed')}}
    {% if vic_horizontal %}
        {{ block('form_message') }}
    {% endif %}
{% endblock %}

{% block hierarchy_tree_widget_collapsed %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('hierarchy_tree_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('hierarchy_tree_widget_options') -}}
    </select>
{% endblock hierarchy_tree_widget_collapsed %}

{% block hierarchy_tree_widget_options %}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('hierarchy_tree_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|raw }}</option>
        {%- endif -%}
    {% endfor %}
{% endblock hierarchy_tree_widget_options %}

{% block font_awesome_picker_widget %}
    {% spaceless %}
    <div class="v-form-group">
        <input type="search" {{ block('widget_attributes') }} class="v-form-group__input" {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
    <script type="text/javascript">

        $vic('[name="{{ form.vars.full_name }}"]').iconpicker({{ form.vars.font_awesome_picker_settings|json_encode|raw }});
    </script>
    {% endspaceless %}
{% endblock font_awesome_picker_widget %}

{% block link_widget %}
    {% set disposition = form.vars.horizontal ? "-horizontal" : "-vertical" %}
    <div data-link class="vic-link-container {{ disposition }}">
        {{ form_row(form.linkType) }}
        {% if form.url is defined %}{{ form_row(form.url) }}{% endif %}
        {% if form.viewReference is defined %}
        <div class="vic-row">
            <div class="vic-col-xs-9">
                {{ form_row(form.viewReference) }}
            </div>
            <div class="vic-col-xs-3" style="padding-top: 29px;">
                {{ form_widget(form.locale) }}
            </div>
        </div>
        {% endif %}
        {% if form.attachedWidget is defined %}{{ form_row(form.attachedWidget) }}{% endif %}
        {% if form.route is defined %}{{ form_row(form.route) }}{% endif %}

        {% if not form.vars.horizontal and form.route_parameters is defined %}{{ form_row(form.route_parameters) }}{% endif %}
        {% if form.target is defined %}{{ form_row(form.target) }}{% endif %}
        {% if form.vars.horizontal and form.route_parameters is defined %}{{ form_row(form.route_parameters) }}{% endif %}
        {% if form.analytics_track_code is defined and form.analytics_track_code %}{{ form_row(form.analytics_track_code) }}{% endif %}
        {{ form_rest(form) }}
    </div>
{% endblock %}
