<div class="v-collapse" id="widget-{{ id }}-tab-pane" data-flag="v-collapse" data-group="tab-widget-quantum" data-quantum="{{ quantum }}" {% if forms.active is defined and forms.active %}data-state="visible"{% endif %}>
    {% if widget.id and widget.widgetMap.view != view %}
        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "warning" } %}
            {% block body %}
                {{ 'victoire.widget.inherited.notice'|trans({'%templateName%': widget.widgetMap.view.name, '%templateEditLink%': path('victoire_core_widget_edit', {'id': widget.id, 'viewReference': widget.widgetMap.view.reference.id })}, 'victoire')|raw }}
            {% endblock body %}
        {% endembed %}
    {% endif %}

    {% if classes|length %}
        <div class="v-tabs-nav v-tabs-nav--widget-modal">
            <div class="v-tabs-nav__item">
                <a class="v-tabs-nav__anchor {% if constant('MODE_STATIC', widget) == widget.mode %}v-tabs-nav__anchor--active{% endif %}" data-collapse="show" data-href="#picker-static-{{ quantum }}" data-activeclass="v-tabs-nav__anchor--active">
                    {{ ('form.widget.tab.manual.label')|trans({}, 'victoire') }}
                </a>
            </div>

            <div class="v-tabs-nav__item">
                <a class="v-tabs-nav__anchor" data-flag="v-drop" data-position="bottomout center" data-droptarget="#picker-entities-{{ quantum }}">
                    {{ ('form.widget.tab.entities.label')|trans({}, 'victoire') }}

                    <svg style="margin-left: 0.4em;" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="65 6 8 6">
                        <path fill="currentColor" fill-rule="evenodd" d="M65.94 7L69 10.0904 72.06 7l.94.9514L69 12l-4-4.0486"/>
                    </svg>
                </a>

                {% if classes|length %}
                    <div class="v-drop" id="picker-entities-{{ quantum }}">
                        <nav class="v-drop__menu">
                            {% for businessEntity in classes %}
                                {% set label = businessEntity.type == constant('Victoire\\Bundle\\APIBusinessEntityBundle\\Entity\\APIBusinessEntity::TYPE') ? businessEntity.name : ('form.widget.tab.' ~ businessEntity.name|lower ~ '.label')|trans({}, 'victoire') %}
                                {% if businessEntity.disable %}
                                    <span class="v-drop__anchor v-drop__anchor--disabled" title="{{ ('form.widget.tab.entity.disable.label')|trans({}, 'victoire') }}">
                                        {{ label }}
                                    </span>
                                {% else %}
                                    <a class="v-drop__anchor {% if widget.entityProxy.businessEntity is defined and businessEntity.name == widget.entityProxy.businessEntity.name|lower %} v-drop__anchor--active{% endif %}" data-href="#picker-{{ businessEntity.name|lower }}-{{ quantum }}" data-collapse="show" data-activeclass="v-drop__anchor--active">
                                        {{ label }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </nav>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for class, form in forms %}
        {% set isActive = (class == widget.mode) or (widget.entityProxy.businessEntity is defined and widget.entityProxy.businessEntity.name == class) or (widget.mode == constant('MODE_STATIC', widget) and class == constant('MODE_ENTITY', widget)) %}

        <div class="v-collapse" id="picker-{{ class|lower }}-{{ quantum }}" data-group="picker-{{ quantum }}" data-flag="v-collapse"{% if isActive %} data-state="visible"{% endif %}>
            <div class="v-widget-form">
                {% if class != constant('MODE_STATIC', widget) and is_granted('ROLE_VICTOIRE_DEVELOPER') %}
                    <a class="v-btn v-btn--info / v-mode-trigger / v-widget-form__mode-btn"
                       data-flag="v-drop v-mode-drop"
                       data-droptarget="#picker-modes-{{ class|lower }}-{{ quantum }}"
                    >
                        <span class="v-mode-trigger__placeholder-label">
                            {{ ('form.widget.tab.mode.label')|trans({}, 'victoire') }}
                        </span>

                        <span class="v-mode-trigger__entity-label">
                            {{ ('form.widget.tab.mode_picker.label')|trans({}, 'victoire') }}
                        </span>

                        <span class="v-mode-trigger__query-label">
                            {{ ('form.widget.tab.mode_query.label')|trans({}, 'victoire') }}
                        </span>

                        {% if is_business_entity_allowed(class|lower, view) %}
                            <span class="v-mode-trigger__businessEntity-label">
                                {{ ('form.widget.tab.mode_entity_instance.label')|trans({}, 'victoire') }}
                            </span>
                        {% endif %}

                        {% include 'VictoireUIBundle:SVG:caret.html.twig' with { class: 'v-btn__ic v-btn__ic--after' } %}
                    </a>

                    <div class="v-drop" id="picker-modes-{{ class|lower }}-{{ quantum }}">
                        <nav class="v-drop__menu">
                            {% spaceless %}
                                <a class="v-drop__anchor"
                                   data-collapse="show"
                                   data-href="#picker-{{ class|lower }}-{{ quantum }}-entity"
                                   title="{{ ('form.widget.tab.picker.label')|trans({}, 'victoire') }}"
                                   data-activeclass="v-drop__anchor--active"
                                   data-triggerclass="v-mode-trigger--entity"
                                >
                                    {{ ('form.widget.tab.picker.label')|trans({}, 'victoire') }}
                                </a>
                            {% endspaceless %}

                            {% spaceless %}
                                <a class="v-drop__anchor"
                                   data-collapse="show"
                                   data-href="#picker-{{ class|lower }}-{{ quantum }}-query"
                                   data-activeclass="v-drop__anchor--active"
                                   data-triggerclass="v-mode-trigger--query"
                                   title="{{ ('form.widget.tab.query.label')|trans({}, 'victoire') }}"
                                >
                                    {{ ('form.widget.tab.query.label')|trans({}, 'victoire') }}
                                </a>
                            {% endspaceless %}

                            {% if is_business_entity_allowed(class|lower, view) %}
                                {% spaceless %}
                                    <a class="v-drop__anchor"
                                       data-collapse="show"
                                       data-href="#picker-{{ class|lower }}-{{ quantum }}-businessEntity"
                                       data-activeclass="v-drop__anchor--active"
                                       data-triggerclass="v-mode-trigger--businessEntity"
                                       title="{{ ('form.widget.tab.entity_instance.label')|trans({}, 'victoire') }}"
                                    >
                                        {{ ('form.widget.tab.entity_instance.label')|trans({}, 'victoire') }}
                                    </a>
                                {% endspaceless %}
                            {% endif %}
                        </nav>
                    </div>

                    {% for subForm in form %}
                        {{ subForm|raw }}
                    {% endfor %}
                {% else %}
                    {% for el, subForm in form %}
                        {{ subForm|raw }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
